body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

img {
    width: 75px;
}

li {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background-color: rgb(128 128 127);
    color: white;
    width: 12vw;
    padding: 10px;
}

li:hover {
    background-color: rgb(94 94 93);
}